@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

body {
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(75, 121, 207), rgb(162, 75, 207)) scroll 0 0 /
    300% 300%;

    -webkit-animation: gradient-animation 5s ease infinite;
    -moz-animation: gradient-animation 5s ease infinite;
    animation: gradient-animation 5s ease infinite;

    color: antiquewhite;
    font-family: Roboto, sans-serif;
    font-weight: 300;

    height: 100%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

@-webkit-keyframes gradient-animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@-moz-keyframes gradient-animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

h1,
h2,
h3 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h1 {
    font-weight: 100;
    font-size: min(9vw, 9vh);
}

h2 {
    font-size: min(4vw, 4vh);
}

h3 {
    font-size: min(3vw, 3vh);
}

div.page {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.content {
    width: max-content;
    max-width: 95%;
}

span {
    margin-right: 4%;
}

.icon {
    height: max(3vw, 3vh);
    width: max(3vw, 3vh);
    cursor: pointer;
}

.sticky {
    position: fixed;
    top: 2%;
}

/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the overlay */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The navigation links inside the overlay */
.overlay a {
    text-decoration: none;
    color: #818181;
    transition: 0.3s; /* Transition effects on hover (color) */
    font-weight: 100;
    font-size: min(9vw, 6vh);
    margin: 30px;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: min(9vw, 7vh);
    cursor: pointer;
}

.project-links {
    display: flex;
    gap: 4%;
    margin-bottom: 4%;
}
